Flask==0.12.5
SimpleITK==2.2.1 
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
matplotlib==3.2.2
matplotlib-venn==0.11.7
scikit-image==0.18.3
Pillow==7.1.2
flask-ngrok==0.0.25
tensorflow==2.8.4
tensorflow-datasets==4.6.0
tensorflow-estimator==2.8.0
tensorflow-gcs-config==2.9.1
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.28.0
tensorflow-metadata==1.12.0
tensorflow-probability==0.17.0
keras==2.8.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
pfmisc==2.2.10
nibabel==3.0.2
pydicom==2.3.1
ipykernel==5.3.4
nibabel==3.0.2
nilearn==0.9.2
numpy==1.21.6
scikit-learn==1.0.2
scipy==1.7.3
six==1.15.0
sklearn==0.0.post1
sklearn-pandas==1.8.0
dropbox==11.36.0
Flask-SocketIO==5.3.2
pyngrok==5.2.1
scikit-image==0.18.3
